/* === Global Styles === */
* {
  font-size: 25px;
  font-family: "Liberation Sans";
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.1s ease;
}
window {
  background: url("/home/nick/.cache/wallpaper_with_quote.png");
  background-size: cover;
  font-size: 16pt;
}
/* === Buttons === */
button {
  /* background-color: rgba(16, 16, 19, 0.85); */
  box-shadow: inset 0 0 0 1px #0072ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  animation: gradient_f 20s ease-in infinite;
  border-radius: 40px; /* Increased border radius for a more rounded look */
  border: 0px;
  transition:
    all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682),
    box-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  color: rgba(16, 16, 19, 0.85);
  color: #e5e7eb;
  background-color: rgba(16, 16, 19, 0.8);
}

/* === Hover Effects === */
button:hover {
  color: #101013;
  background-color: rgba(0, 114, 255, 0.35);
  box-shadow: inset 0 0 0 1px #10b981;
  background-size: 40%;
}

/* === Icon Assignments === */
#lock {
  background-size: 32%;
  padding: 20px 40px;
  background-image: image(url("icons/lock.svg"));
}

#suspend {
  padding: 20px 15px;
  background-image: image(url("icons/suspend.png"));
}

#shutdown {
  background-size: 29%;
  background-image: image(url("icons/shutdown.svg"));
}

#reboot {
  padding: 20px 28px;
  background-image: image(url("icons/reboot.png"));
}

/* === Layout & Margins === */
#lock,
#suspend,
#shutdown,
#reboot {
  margin: 5px;
}
