@define-color theme_fg_color #F4F5F6;
/* text color for entries, views and content in general */
@define-color theme_text_color #F4F5F6;
/* widget base background color */
@define-color surface #101013;
/* text widgets and the like base background color */
@define-color on_surface #fefefe;
@define-color primary #0072ff;
/* base background color of selections */
@define-color theme_selected_bg_color #0072ff;
/* text/foreground color of selections */
@define-color theme_selected_fg_color #fefefe;
/* base background color of disabled widgets */
@define-color insensitive_bg_color #141418;
/* text foreground color of disabled widgets */
@define-color accent_bg_color #28bca3;
/* disabled text widgets and the like base background color */
@define-color on_primary #191a1f;
/* widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #828385;
/* text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #F4F5F6;
/* widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #101013;
/* text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #1b1c21;
/* base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #0072ff;
/* text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #fefefe;
/* widgets main borders color */
@define-color borders black;
/* widgets main borders color on backdrop windows */
@define-color unfocused_borders #020202;
/* these are pretty self explicative */
@define-color warning_color #cc5500;
@define-color error_color #e6133e;
@define-color success_color #0096b1;
@define-color fg_color #F4F5F6;
@define-color text_color #F4F5F6;
@define-color bg_color #101013;
@define-color base_color #191a1f;
@define-color selected_bg_color #0072ff;
@define-color selected_fg_color #fefefe;
@define-color unfocused_fg_color #828385;
@define-color unfocused_text_color #F4F5F6;
@define-color unfocused_bg_color #101013;
@define-color unfocused_base_color #1b1c21;
@define-color unfocused_selected_bg_color #0072ff;
@define-color unfocused_selected_fg_color #fefefe;
/* these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title shade(#F4F5F6, 1.8);
@define-color wm_unfocused_title #828385;
@define-color wm_highlight rgba(0, 0, 0, 0);
@define-color wm_borders_edge rgba(255, 255, 255, 0.1);
@define-color wm_bg_a shade(#101013, 1.2);
@define-color wm_bg_b #101013;
@define-color wm_shadow alpha(black, 0.35);
@define-color wm_border alpha(black, 0.18);
@define-color wm_button_hover_color_a shade(#101013, 1.3);
@define-color wm_button_hover_color_b #101013;
@define-color wm_button_active_color_a shade(#101013, 0.85);
@define-color wm_button_active_color_b shade(#101013, 0.89);
@define-color wm_button_active_color_c shade(#101013, 0.9);
@define-color content_view_bg #191a1f;
@define-color text_view_bg #191a1f;
@define-color budgie_tasklist_indicator_color_active #0072ff;
@define-color placeholder_text_color #c9cacb;
@define-color STRAWBERRY_100 #ff8c82;
@define-color STRAWBERRY_300 #ed5353;
@define-color STRAWBERRY_500 #c6262e;
@define-color STRAWBERRY_700 #a10705;
@define-color STRAWBERRY_900 #7a0000;
@define-color ORANGE_100 #ffc27d;
@define-color ORANGE_300 #ffa154;
@define-color ORANGE_500 #f37329;
@define-color ORANGE_700 #cc3b02;
@define-color ORANGE_900 #a62100;
@define-color BANANA_100 #fff394;
@define-color BANANA_300 #ffe16b;
@define-color BANANA_500 #f9c440;
@define-color BANANA_700 #d48e15;
@define-color BANANA_900 #ad5f00;
@define-color LIME_100 #d1ff82;
@define-color LIME_300 #9bdb4d;
@define-color LIME_500 #68b723;
@define-color LIME_700 #3a9104;
@define-color LIME_900 #206b00;
@define-color MINT_100 #89ffdd;
@define-color MINT_300 #43d6b5;
@define-color MINT_500 #28bca3;
@define-color MINT_700 #0e9a83;
@define-color MINT_900 #007367;
@define-color BLUEBERRY_100 #8cd5ff;
@define-color BLUEBERRY_300 #64baff;
@define-color BLUEBERRY_500 #3689e6;
@define-color BLUEBERRY_700 #0d52bf;
@define-color BLUEBERRY_900 #002e99;
@define-color BUBBLEGUM_100 #fe9ab8;
@define-color BUBBLEGUM_300 #f4679d;
@define-color BUBBLEGUM_500 #de3e80;
@define-color BUBBLEGUM_700 #bc245d;
@define-color BUBBLEGUM_900 #910e38;
@define-color GRAPE_100 #e4c6fa;
@define-color GRAPE_300 #cd9ef7;
@define-color GRAPE_500 #a56de2;
@define-color GRAPE_700 #7239b3;
@define-color GRAPE_900 #452981;
@define-color COCOA_100 #a3907c;
@define-color COCOA_300 #8a715e;
@define-color COCOA_500 #715344;
@define-color COCOA_700 #57392d;
@define-color COCOA_900 #3d211b;
@define-color SILVER_100 #fafafa;
@define-color SILVER_300 #d4d4d4;
@define-color SILVER_500 #abacae;
@define-color SILVER_700 #7e8087;
@define-color SILVER_900 #555761;
@define-color SLATE_100 #95a3ab;
@define-color SLATE_300 #667885;
@define-color SLATE_500 #485a6c;
@define-color SLATE_700 #273445;
@define-color SLATE_900 #0e141f;
@define-color BLACK_100 #666;
@define-color BLACK_300 #4d4d4d;
@define-color BLACK_500 #333;
@define-color BLACK_700 #1a1a1a;
@define-color BLACK_900 #000;

* {
  all: unset;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: rgba(16, 16, 19, 0.9);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 114, 255, 0.5);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 10px;
  border: 1px solid rgba(0, 114, 255, 0.5);
}

.input placeholder {
  opacity: 0.5;
}

.input {
  background: transparent;
  padding: 10px;
  color: @on_surface;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 10px;
  padding: 10px;
  color:@on_surface;
}

.item-quick-activation {
  margin-left: 10px;
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 5px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: @primary;
  color:@on_primary;
}

.item-text-box {
}

.item-text {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image,
.item-image-text {
  margin-right: 10px;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  padding: 10px;
  border-radius: 10px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 0px solid lighter(@primary);
  font-size: 12px;
  opacity: 0.5;
  color: @on_surface;
}

.keybinds {
}

.keybind {
}

.keybind-bind {
  color: @on_surface;
  font-weight: bold;
}

.keybind-label {
  color: @on_surface;
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}
