[Unit]
Description=Cliphist image service
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=wl-paste --type image --watch cliphist store
Restart=on-failure

[Install]
WantedBy=graphical-session.target
