[Unit]
Description=Clip Persist service
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=wl-clip-persist --clipboard regular
Slice=session.slice
Restart=on-failure

[Install]
WantedBy=graphical-session.target
