[Unit]
Description=ProtonMail notifications

[Service]
Type=oneshot
ExecStart=%h/.local/bin/email/emailcheck.py
WorkingDirectory=%h
Environment=PYTHONUNBUFFERED=1
