[Unit]
Description=Check ProtonMail via Bridge and send notifications

[Service]
Type=oneshot
ExecStart=%h/.local/bin/email/emailcheck.py
WorkingDirectory=%h
Environment=PYTHONUNBUFFERED=1
