[Unit]
Description=KDE Connect Daemon
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/sbin/kdeconnectd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
