[Unit]
Description=KDE Connect Daemon
After=wayland-wm@hyprland.desktop.service
Requires=wayland-wm@hyprland.desktop.service

[Service]
Type=simple
ExecStart=/usr/sbin/kdeconnectd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
