[Unit]
Description=MPV Play Script
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/home/nick/Polka/local/bin/mpvplay/mpvplay.sh
Restart=on-failure
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
