[Unit]
Description=nchat tmux session
After=graphical-session.target

[Service]
Type=forking
# WARNING: use %I instead of %u here; %u=root in system services.
ExecStart=/usr/sbin/tmuxp load nchat -d
ExecStop=/usr/sbin/tmux kill-session -t "nchat"

[Install]
WantedBy=graphical-session.target
