[Unit]
Description=NetworkManager Applet
After=network.target wayland-wm@hyprland.desktop.service
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --indicator
Restart=no

[Install]
WantedBy=default.target

