[Unit]
Description=nm-applet autostart
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/systemctl --user start nm-applet.service
ExecStart=/usr/sbin/sleep 20
ExecStartPost=/usr/sbin/systemctl --user stop nm-applet.service
Slice=session.slice
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
