[Unit]
Description=Personal logid startup

[Service]
Type=forking
ExecStart=/home/nick/Polka/local/bin/logid/personal_logid.sh
StandardOutput=append:/home/nick/.cache/logid_check.log
StandardError=append:/home/nick/.cache/logid_check.log
RemainAfterExit=yes

[Install]
WantedBy=default.target

