[Unit]
Description=Delete Phone folder on login
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/rm -rf /home/nick/Phone

[Install]
WantedBy=graphical-session.target

