[Unit]
Description=NetworkManager Applet
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nm-applet --indicator
Restart=no

[Install]
WantedBy=graphical-session.target
