[Unit]
Description=ProtonMail Bridge
After=wayland-wm@hyprland.desktop.service
Requires=wayland-wm@hyprland.desktop.service

[Service]
Type=simple
ExecStart=/usr/bin/protonmail-bridge --no-window
Restart=on-failure
RestartSec=5

[Install]
WantedBy=wayland-wm@hyprland.desktop.service
