[Unit]
Description=NetworkManager Applet
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/protonvpn-app
Restart=yes

[Install]
WantedBy=graphical-session.target
