[Unit]
Description=ProtonMail Bridge
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/sbin/protonmail-bridge-core -n
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
