[Unit]
Description=Solaar launcher service
After=wayland-wm@hyprland.desktop.service
Requires=wayland-wm@hyprland.desktop.service

[Service]
Type=simple
ExecStart=/usr/bin/solaar -w hide
Restart=no

[Install]
WantedBy=graphical-session.target
