[Unit]
Description=Solaar launcher service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/solaar -w hide
Restart=no

[Install]
WantedBy=graphical-session.target
