[Unit]
Description=Surfshark VPN client (user mode)
After=network.target wayland-wm@hyprland.desktop.service
Requires=wayland-wm@hyprland.desktop.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/sudo /opt/Surfshark/resources/dist/resources/surfsharkd2.js
ExecStart=/bin/sleep 2
ExecStartPost=/opt/Surfshark/surfshark --hidden

[Install]
WantedBy=wayland-wm@hyprland.desktop.service

