[Unit]
Description=swww wallpaper daemon
After=wayland-wm@hyprland.desktop.service
Requires=wayland-wm@hyprland.desktop.service

[Service]
ExecStart=/usr/bin/swww-daemon
Restart=on-failure
Type=simple

[Install]
WantedBy=wayland-wm@hyprland.desktop.service
