[Unit]
Description=nm-applet autostart
After=wayland-session@hyprland.desktop.target
Wants=wayland-session@hyprland.desktop.target

[Service]
Type=simple
ExecStartPre=/usr/sbin/systemctl --user start swww-daemon.service
ExecStart=/usr/sbin/sleep 20
ExecStartPost=/usr/sbin/systemctl --user restart swww-daemon.service
Restart=on-failure

[Install]
WantedBy=wayland-wm@hyprland.desktop.service
