[Unit]
Description=swww autostart
After=graphical-session.target
PartOf=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStartPre=/usr/sbin/systemctl --user start swww-daemon.service
ExecStart=/usr/sbin/sleep 20
ExecStartPost=/usr/sbin/systemctl --user restart swww-daemon.service
Restart=on-failure

[Install]
WantedBy=graphical-session.target
