[Unit]
Description=Run Taskwarrior daily scheduling script

[Service]
Type=oneshot
Environment="TASKRC=/home/nick/.config/task/taskrc"
ExecStart=%h/.local/bin/taskwarrior/task-schedule.py

[Install]
WantedBy=default.target
