[Unit]
Description=Walker launcher service
Wants=wayland-session@hyprland.desktop.target
After=wayland-session@hyprland.desktop.target elephant.service
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=walker --gapplication-service
Restart=on-failure

[Install]
WantedBy=wayland-session@hyprland.desktop.target
