[Unit]
Description=Run Wall Script every 30 minutes

[Timer]
OnBootSec=20sec
OnUnitActiveSec=30min
Persistent=false

[Install]
WantedBy=timers.target
