
[Unit]
Description=Run Wall Script every 30 minutes

[Timer]
OnBootSec=15sec
OnUnitActiveSec=30min
Persistent=true

[Install]
WantedBy=timers.target
