[Unit]
Description=Run Wall Script
Requires=awww-daemon.service
After=awww-daemon.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/wall/wall.py
