[Unit]
Description=On Screen Keyboard
After=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/sbin/wvkbd-deskintl -L 280 --bg 101013 --text F4F5F6 --fg 191a1f --fg-sp 1b1c21 --press 0077ff --press-sp 0077ff --text-sp 33ccff --alpha 220 --landscape-layers full,cyrillic

[Install]
WantedBy=graphical-session.target
