/* === Global Styles === */
* {
  font-size: 12px;
  font-weight: 500;
  font-family: "JetBrains Mono Nerd Font", monospace;
  transition: all 0.75s ease;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

/* === Waybar Window === */
window#waybar,
window#waybar.empty,
window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}

button {
  padding: 0;
	padding-right: 4px;
	padding-left: 4px;
  margin: 0;
  border: none;
  min-height: 0;
  box-shadow: none;
}

tooltip label {
  padding: 0 2px;
  font-size: 15px;
  background-color: transparent;
  font-family: "CaskaydiaMono Nerd Font", monospace;
  font-weight: 400;
}

tooltip {
  background: #101013;
  opacity: 0.95;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(30, 58, 138, 0.6);
}

.modules-left,
.modules-center,
.modules-right {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(30, 58, 138, 0.7);
  background-color: rgba(16, 16, 19, 0.8);
  border-radius: 4px;
}
.modules-center{
	padding-right: 0;
	padding-left: 0;
}
.modules-right {
  margin-right: 2px;
}
.modules-left {
  margin-left: 2px;
}
/* === Shared Module Styles === */
#workspaces button,
#battery,
#clock,
#keyboard-state,
#temperature,
#custom-kb-switch,
#custom-timer,
#language,
#window,
#custom-taskwarrior,
#custom-settings,
#custom-updates {
	padding-right: 6px;
	padding-left: 6px;
}

#backlight,
#network,
#custom-kdeconnect,
#pulseaudio {
  border-radius: 5px;
}

/* === Battery States === */
#battery {
  border-left: 1px solid #33ccff;
  color: #33ccff;
}
#battery.critical {
  color: #ff3232;
}

#battery.warning {
  color: #ffee33;
}
#battery.good {
  color: #33ccff;
}

#battery.charging {
  color: #00ff99;
}

/* === Icon Button Styles === */
#temperature {
  border-right: 1px solid #33ccff;
}
#temperature.critical {
  color: #ff3232;
}

#language {
  border-right: 1px solid #33ccff;
  font-family: "CaskaydiaMono Nerd Font", monospace;
  font-size: 12px;
}

#custom-timer {
  border-right: 1px solid #33ccff;
}
#custom-kb-switch {
  border-right: 1px solid #33ccff;
}
#network {
  padding: 0 9px 0 3px;
  font-size: 11px;
}

#backlight {
  padding: 0 7px 0 4px;
  font-size: 13px;
}

#pulseaudio {
  padding: 0 7px 0 4px;
  font-size: 13px;
}
#custom-kdeconnect {
  padding: 0 6px 0 5px;
  font-size: 13px;
}

#tray {
  padding: 0 1px 0 7px;
  border-left: 1px solid #33ccff;
}

#custom-logo {
  font-size: 13px;
  color: #33ccff;
  padding: 0 8px 0 6px;
}

#custom-logo.notif {
	padding-right: 4px;
  color: #ffee33;
}

#custom-logo.music {
	padding-right: 4px;
	padding-left: 6px;
  color: #00ff99;
}

#custom-empty {
  font-size: 4px;
}

#custom-updates {
  padding: 0 10px 0 6px;
}

#custom-taskwarrior {
  border-left: 1px solid #33ccff;
  font-size: 13px;
	padding-right: 4px;
	padding-left: 7px;
}
#custom-taskwarrior.todo {
  color: #ffee33;
}
#custom-taskwarrior.critical {
  color: #ff3232;
}

/* === Hover Effects === */
button:hover,
#custom-power:hover,
#custom-kdeconnect.connected:hover,
#backlight:hover,
#custom-tlp:hover,
#network:hover,
#pulseaudio:hover,
#battery:hover {
  box-shadow: inset 0 0 0 1px #00ff99;
  color: #33ccff;
}

#workspaces button.active,
#workspaces button:hover {
  background: inherit;
  border-radius: 5px;
  color: #00ff99;
}

#custom-logo:hover,
#custom-updates:hover,
#clock:hover,
#custom-taskwarrior:hover,
#temperature:hover {
  color: #00ff99;
}
#custom-settings:hover {
  color: #ff3232;
}
