window#osd {
  font-family: "FiraMono Nerd Font Light", "SF Pro Text", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid rgba(51, 204, 255, 0.8);
  background: rgba(8, 8, 10, 0.8); /* original background */
}

window#osd #container {
  margin: 4px 14px 4px 6px;
  padding: 0;
  background: transparent;
}

window#osd image {
  -gtk-icon-transform: scale(0.7);
}

window#osd image,
window#osd label {
  color: #F4F5F6;
}

window#osd label {
  color: #F4F5F6;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

/* Segmented progress bar */
window#osd progressbar {
  min-height: 7px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(165, 180, 252, 0.5); /* semi-transparent trough */
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #10b981; /* active progress color */
}
