window {
  border-radius: 1;
  opacity: 0.97;
  border: 1px solid #0072ff;
  background-color: rgba(8, 8, 10, 0.8);
}

label {
  font-family: 'FiraMono Nerd Font Medium';
  font-size: 13pt;
  color: #e5e7eb;
}

image {
  color: #a5b4fc;
}

progressbar {
  border-radius: 1;
}

progress {
  background-color: #10b981;
}
