[Unit]
After=graphical.target
Requires=graphical.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/bin/systemctl restart logid.service
RemainAfterExit=true

[Install]
WantedBy=graphical.target

