[Desktop Entry]
Name=Nvtop
GenericName=GPU Process Monitor
Type=Application
Terminal=true
Exec=nvtop
Icon=nvidia-settings
Categories=System;Monitor;
X-AppImage-Integrate=false

