[Desktop Entry]
Type=Application
Name=GTK Settings
GenericName=Adjust Look and Feel
Comment=Customizes GTK3 look and feel settings
Keywords=windows;preferences;settings;theme;style;appearance;look;
Icon=cs-themes
Exec=nwg-look
NotShowIn=GNOME;KDE;XFCE;MATE;
StartupNotify=true
Categories=GTK;Settings;DesktopSettings;
