[Desktop Entry]
Name=rmpc (tmux)
Comment=Run rmpc with cava inside tmux
Exec=alacritty --title "rmpc Music" -e bash -lc "/home/nick/Polka/local/bin/mpd/rmpclaunch.sh %F"
Terminal=false
Type=Application
MimeType=audio/mpeg;audio/mp3;audio/x-mp3;
Categories=AudioVideo;ConsoleOnly;
Icon=utilities-terminal

