[Desktop Entry]
Type=Application
Name=On-Screen Keyboard
GenericName=Wvkbd On-Screen Keyboard
Comment=Manage disks, partitions, and file systems
Exec=wvkbd-deskintl --landscape-layers full,cyrillic --alpha 230 -L 240 --bg 101013 --text F4F5F6 --text-sp 33ccff --fg 191a1f --fg-sp 1b1c21 --press 0077ff --press-sp 0077ff
Icon=keyboard
Categories=System;
SingleMainWindow=true
StartupNotify=true
Keywords=keyboard;osk;
